button{
    background-color: firebrick;
    margin: 2em;
    height: 3em;
    width: 15em;
    color: floralwhite;
    box-shadow: 2px 2px 2px darkolivegreen;;
    display: inline-block;
}
.active {
    border-color: floralwhite;  
}
  
  .inactive {
    background-color: darkolivegreen;
}
.form_submit{
    margin: 1em auto;
}