.movie-container{
    display: grid;
    grid-template-columns: repeat(5,20%);
    gap:1em;
    margin-top: 2em;
}
.film{
    background-color:darkolivegreen;
    border-radius: 10px 16px 10px 16px;
}